#page-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#account-create-title {
    font-size: xx-large;
    color: var(--main-color);
    font-weight: bold;
}

#create-account-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#create-account-section * {
    color: var(--main-color);
}

#create-account-section button {
    font-weight: bold;
    text-decoration: underline;
}